In [68]:
import random
import datetime
import operator
import numpy as np
import pandas as pd
from datetime import date
from datetime import datetime
import matplotlib.pyplot as plt

In [73]:
df_0 = pd.read_pickle("C:/Users/lucas/OneDrive - Universidad Nacional de Colombia/PC-GCPDS/Documentos/data/SuperEventos.pkl")

In [75]:
df_0[df_0["MUN"] == 'SALAMINA']

,evento,equipo_ope,tipo_equi_ope,cto_equi_ope,tipo_elemento,inicio,fin,duracion_h,tipo_duracion,causa,...,NIVEL4CONDUCTOR,ACOMETIDACONDUCTOR,NEUTRO,CALIBRENEUTRO,CAPACITY,RESISTANCE,LONGITUD2,LATITUD2,NIVEL_C,VALOR_C
26,7550003,SLM233R1,interruptor,SLM23L13,13.2,2019-01-01 16:59:41,2019-01-01 17:24:52,0.419722,> 3 min,Causa desconocida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.008996
73,7550252,N35334,transformador,SLM23L13,TFD,2019-01-02 07:09:28,2019-01-02 10:00:00,2.842222,> 3 min,Condiciones atmosféricas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.008434
74,7550258,N35403,interruptor,SLM23L13,13.2,2019-01-02 08:22:10,2019-01-02 13:15:00,4.880556,> 3 min,Condiciones atmosféricas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.010901
75,7550260,N35395,transformador,SLM23L13,TFD,2019-01-01 16:35:42,2019-01-02 14:00:00,21.405001,> 3 min,Condiciones atmosféricas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.008446
76,7550262,N35548,interruptor,SLM23L13,13.2,2019-01-01 14:49:01,2019-01-02 14:35:00,23.766390,> 3 min,Condiciones atmosféricas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.011193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168451,8272261,N35318,interruptor,SLM23L13,13.2,2024-06-28 09:10:55,2024-06-28 12:20:55,3.166667,> 3 min,Falla en transformador de distribución o sus e...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.010339
168579,8272591,SLM23L15,interruptor,SLM23L15,13.2,2024-06-29 12:03:58,2024-06-29 12:03:59,0.000278,<= 3 min,Condiciones atmosféricas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.008967
168580,8272593,SLM23L15,interruptor,SLM23L15,13.2,2024-06-29 12:04:00,2024-06-29 12:04:30,0.008333,<= 3 min,Condiciones atmosféricas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.008967
168583,8272601,N35318,interruptor,SLM23L13,13.2,2024-06-29 11:03:18,2024-06-29 12:20:18,1.283333,> 3 min,Condiciones atmosféricas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.011021
168690,8272862,N35731,interruptor,SLM23L13,13.2,2024-06-30 10:13:20,2024-06-30 13:20:20,3.116667,> 3 min,Condiciones atmosféricas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.011181

## Transformación

In [40]:
df_4 = pd.read_csv("C:/Users/lucas/OneDrive - Universidad Nacional de Colombia/PC-GCPDS/Documentos/data/SuperEventos_Criticidad.csv")
df_4.dtypes

evento             int64
equipo_ope        object
tipo_equi_ope     object
cto_equi_ope      object
tipo_elemento     object
                  ...
RESISTANCE       float64
LONGITUD2        float64
LATITUD2         float64
NIVEL_C            int64
VALOR_C          float64
Length: 63, dtype: object

#### Transformación 1

In [41]:
df_1 = pd.read_pickle("C:/Users/lucas/OneDrive - Universidad Nacional de Colombia/PC-GCPDS/Documentos/data/Eventos_interruptor.pkl")
df_1.dtypes

evento                     object
equipo_ope                 object
tipo_equi_ope              object
cto_equi_ope               object
tipo_elemento              object
inicio             datetime64[ns]
fin                datetime64[ns]
duracion_h                float32
tipo_duracion              object
causa                      object
CNT_TRAFOS_AFEC           float32
cnt_usus                  float32
SAIDI                     float32
SAIFI                     float32
ASSEMBLY                   object
PHASES                    float32
FPARENT                    object
KV                        float32
STATE                      object
LINESECTIO                 object
FECHA                   period[M]
LONGITUD                  float64
LATITUD                   float64
DEP                        object
MUN                        object
dtype: object

In [42]:
# Convertir columnas al tipo de dato correspondiente
df_4 = df_4.astype({
    "evento": "object",
    "equipo_ope": "object",
    "tipo_equi_ope": "object",
    "cto_equi_ope": "object",
    "tipo_elemento": "object",
    "tipo_duracion": "object",
    "causa": "object",
    "ASSEMBLY": "object",
    "FPARENT": "object",
    "STATE": "object",
    "LINESECTIO": "object",
    "DEP": "object",
    "MUN": "object"
})

# Convertir columnas de fecha a datetime
df_4["inicio"] = pd.to_datetime(df_4["inicio"])
df_4["fin"] = pd.to_datetime(df_4["fin"])

# Convertir duraciones y métricas numéricas a float32
df_4 = df_4.astype({
    "duracion_h": "float32",
    "CNT_TRAFOS_AFEC": "float32",
    "cnt_usus": "float32",
    "SAIDI": "float32",
    "SAIFI": "float32",
    "PHASES": "float32",
    "KV": "float32"
})

# Convertir columna de fecha a un período mensual
df_4["FECHA"] = pd.to_datetime(df_4["FECHA"]).dt.to_period("M")

# Convertir coordenadas geográficas a float64 (si no lo están ya)
df_4 = df_4.astype({
    "LONGITUD": "float64",
    "LATITUD": "float64"
})

#### Transformación 2

In [43]:
df_2 = pd.read_pickle("C:/Users/lucas/OneDrive - Universidad Nacional de Colombia/PC-GCPDS/Documentos/data/Eventos_tramo_linea.pkl")
df_2.dtypes

evento                                object
equipo_ope                            object
tipo_equi_ope                         object
cto_equi_ope                          object
tipo_elemento                         object
inicio                        datetime64[ns]
fin                           datetime64[ns]
duracion_h                           float32
tipo_duracion                         object
causa                                 object
CNT_TRAFOS_AFEC                      float32
cnt_usus                             float32
SAIDI                                float32
SAIFI                                float32
PHASES                               float32
FPARENT                               object
ELNODE1                               object
ELNODE2                               object
CONDUCTOR                             object
NEUTRAL                               object
LENGTH                               float64
KVNOM                                 object
CLASS                                 object
TOWNER                                object
FECHA                              period[M]
MATERIALCONDUCTOR                     object
TIPOCONDUCTOR                         object
CALIBRECONDUCTOR                      object
GUARDACONDUCTOR                       object
NEUTROCONDUCTOR                       object
NEUTRO_SECUNDARIOCONDUCTOR            object
NIVEL1CONDUCTOR                       object
NIVEL2CONDUCTOR                       object
NIVEL3CONDUCTOR                       object
NIVEL4CONDUCTOR                       object
ACOMETIDACONDUCTOR                    object
NEUTRO                                object
CALIBRENEUTRO                         object
FECHA_ACT                          period[M]
CAPACITY                             float32
RESISTANCE                           float32
LONGITUD                             float64
LATITUD                              float64
LONGITUD2                            float64
LATITUD2                             float64
DEP                                   object
MUN                                   object
dtype: object

In [45]:
# Configurar los tipos de dato
df_4 = df_4.astype({
    "evento": "object",
    "equipo_ope": "object",
    "tipo_equi_ope": "object",
    "cto_equi_ope": "object",
    "tipo_elemento": "object",
    "tipo_duracion": "object",
    "causa": "object",
    "FPARENT": "object",
    "ELNODE1": "object",
    "ELNODE2": "object",
    "CONDUCTOR": "object",
    "NEUTRAL": "object",
    "KVNOM": "object",
    "CLASS": "object",
    "TOWNER": "object",
    "MATERIALCONDUCTOR": "object",
    "TIPOCONDUCTOR": "object",
    "CALIBRECONDUCTOR": "object",
    "GUARDACONDUCTOR": "object",
    "NEUTROCONDUCTOR": "object",
    "NEUTRO_SECUNDARIOCONDUCTOR": "object",
    "NIVEL1CONDUCTOR": "object",
    "NIVEL2CONDUCTOR": "object",
    "NIVEL3CONDUCTOR": "object",
    "NIVEL4CONDUCTOR": "object",
    "ACOMETIDACONDUCTOR": "object",
    "NEUTRO": "object",
    "CALIBRENEUTRO": "object",
    "DEP": "object",
    "MUN": "object"
})

# Convertir columnas de fecha a datetime
df_4["inicio"] = pd.to_datetime(df_4["inicio"])
df_4["fin"] = pd.to_datetime(df_4["fin"])

# Convertir columnas de fecha a periodos mensuales
#df_4["FECHA"] = pd.to_datetime(df_4["FECHA"]).dt.to_period("M")
df_4["FECHA_ACT"] = pd.to_datetime(df_4["FECHA_ACT"], errors='coerce').dt.normalize()

# Convertir duraciones y métricas numéricas a float32
df_4 = df_4.astype({
    "duracion_h": "float32",
    "CNT_TRAFOS_AFEC": "float32",
    "cnt_usus": "float32",
    "SAIDI": "float32",
    "SAIFI": "float32",
    "PHASES": "float32",
    "CAPACITY": "float32",
    "RESISTANCE": "float32"
})

# Convertir coordenadas geográficas y longitudes a float64
df_4 = df_4.astype({
    "LONGITUD": "float64",
    "LATITUD": "float64",
    "LONGITUD2": "float64",
    "LATITUD2": "float64"
})

#### Transformación 3

In [46]:
df_3 = pd.read_pickle("C:/Users/lucas/OneDrive - Universidad Nacional de Colombia/PC-GCPDS/Documentos/data/Eventos_transformador.pkl")
df_3.dtypes

evento                     object
equipo_ope                 object
tipo_equi_ope              object
cto_equi_ope               object
tipo_elemento              object
inicio             datetime64[ns]
fin                datetime64[ns]
duracion_h                float32
tipo_duracion              object
causa                      object
CNT_TRAFOS_AFEC           float32
cnt_usus                  float32
SAIDI                     float32
SAIFI                     float32
PHASES                    float32
FPARENT                    object
OWNER1                     object
TRFTYPE                    object
ELNODE                     object
IMPEDANCE                 float32
DATE_FAB                   object
MARCA                      object
TIPO_SUB                   object
FECHA                   period[M]
GRUPO015                  float32
FECHA_ACT               period[M]
KVA                       float32
KV1                       float32
LONGITUD                  float64
LATITUD                   float64
DEP                        object
MUN                        object
dtype: object

In [47]:
# Configurar los tipos de dato
df_4 = df_4.astype({
    "evento": "object",
    "equipo_ope": "object",
    "tipo_equi_ope": "object",
    "cto_equi_ope": "object",
    "tipo_elemento": "object",
    "tipo_duracion": "object",
    "causa": "object",
    "FPARENT": "object",
    "OWNER1": "object",
    "TRFTYPE": "object",
    "ELNODE": "object",
    "DATE_FAB": "object",
    "MARCA": "object",
    "TIPO_SUB": "object",
    "DEP": "object",
    "MUN": "object"
})

# Convertir columnas de fecha a datetime
df_4["inicio"] = pd.to_datetime(df_4["inicio"])
df_4["fin"] = pd.to_datetime(df_4["fin"])

# Convertir columnas de fecha a periodos mensuales
#df_4["FECHA"] = pd.to_datetime(df_4["FECHA"]).dt.to_period("M")
#df_4["FECHA_ACT"] = pd.to_datetime(df_4["FECHA_ACT"]).dt.to_period("M")
df_4["DATE_FAB"] = pd.to_datetime(df_4["DATE_FAB"], errors='coerce').dt.normalize()

# Convertir métricas numéricas a float32
df_4 = df_4.astype({
    "duracion_h": "float32",
    "CNT_TRAFOS_AFEC": "float32",
    "cnt_usus": "float32",
    "SAIDI": "float32",
    "SAIFI": "float32",
    "PHASES": "float32",
    "IMPEDANCE": "float32",
    "GRUPO015": "float32",
    "KVA": "float32",
    "KV1": "float32",
    "NIVEL_C": "int16",
    "VALOR_C": "float32"
})

# Convertir coordenadas geográficas a float64
df_4 = df_4.astype({
    "LONGITUD": "float64",
    "LATITUD": "float64"
})

In [48]:
for column in df_4.columns:
    print(f"{column}           {df_4[column].dtype}")

evento           object
equipo_ope           object
tipo_equi_ope           object
cto_equi_ope           object
tipo_elemento           object
inicio           datetime64[ns]
fin           datetime64[ns]
duracion_h           float32
tipo_duracion           object
causa           object
CNT_TRAFOS_AFEC           float32
cnt_usus           float32
SAIDI           float32
SAIFI           float32
ASSEMBLY           object
PHASES           float32
FPARENT           object
KV           float32
STATE           object
LINESECTIO           object
FECHA           period[M]
LONGITUD           float64
LATITUD           float64
DEP           object
MUN           object
OWNER1           object
TRFTYPE           object
ELNODE           object
IMPEDANCE           float32
DATE_FAB           datetime64[ns]
MARCA           object
TIPO_SUB           object
GRUPO015           float32
FECHA_ACT           datetime64[ns]
KVA           float32
KV1           float32
ELNODE1           object
ELNODE2           object
CONDUCTOR           object
NEUTRAL           object
LENGTH           float64
KVNOM           object
CLASS           object
TOWNER           object
MATERIALCONDUCTOR           object
TIPOCONDUCTOR           object
CALIBRECONDUCTOR           object
GUARDACONDUCTOR           object
NEUTROCONDUCTOR           object
NEUTRO_SECUNDARIOCONDUCTOR           object
NIVEL1CONDUCTOR           object
NIVEL2CONDUCTOR           object
NIVEL3CONDUCTOR           object
NIVEL4CONDUCTOR           object
ACOMETIDACONDUCTOR           object
NEUTRO           object
CALIBRENEUTRO           object
CAPACITY           float32
RESISTANCE           float32
LONGITUD2           float64
LATITUD2           float64
NIVEL_C           int16
VALOR_C           float32

In [56]:
df_4.to_pickle("C:/Users/lucas/OneDrive - Universidad Nacional de Colombia/PC-GCPDS/Documentos/data/SuperEventos.pkl")

In [62]:
df_4.NIVEL_C

0         0
1         1
2         1
3         1
4         2
         ..
168720    1
168721    1
168722    0
168723    0
168724    0
Name: NIVEL_C, Length: 168725, dtype: int16

In [67]:
df_4[['inicio','MUN']]

                    inicio         MUN
0      2019-01-01 00:00:01  MANZANARES
1      2019-01-01 00:00:01  MANZANARES
2      2019-01-01 00:00:01  MANZANARES
3      2019-01-01 00:00:01  MANZANARES
4      2019-01-01 00:00:01  MANZANARES
...                    ...         ...
168720 2024-06-30 18:17:03  VILLAMARÍA
168721 2024-06-30 18:17:40  VILLAMARÍA
168722 2024-06-30 23:11:25    SAN JOSÉ
168723 2024-06-30 23:11:25    SAN JOSÉ
168724 2024-06-30 23:38:56        APÍA

[168725 rows x 2 columns]